.btn {
  display: inline-flex;
  padding: 27px 56px;
  border: 2px solid $color-default-white;
  color: $color-default-white;
  background-color: $color-transparent;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  font-family: $ff-secondary;
  text-transform: uppercase;

  @include disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  @include hover {
    background-color: $color-default-white;
    color: $color-egyptian-blue;
  }

  @include active {
    color: $color-sapphire;
    background-color: $color-default-white;
  }
}
