.header {
  background-image: linear-gradient(0.25turn, $blue-to-red);
}

.Logotype {
  background-color: #102654;
  max-width: 164px;
  min-height: 67px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  padding: 30px 103px 120px;

  @include vp-1365 {
    padding: 30px 45px;
  }

  @include vp-767 {
    padding: 16px 15px;
  }
}

.header__logo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header__description {
  display: flex;
}

.header__title {
  color: $color-default-white;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: flex-end;
  padding: 0 70px 152px 115px;
  min-height: 400px;
  justify-content: flex-end;
}

.header__description-list {
  position: absolute;
  left: 103px;
  top: 315px;
}

.header__tel {
  color: $color-default-white;
  font-family: "Roboto", "Arial", sans-serif;;
  font-weight: 700;
  font-size: 26px;
  line-height: 26px;
}
